@{
    ViewData["Title"] = "About Me";
}

<div 
    @*class="text-center"*@
     >
    @*<h1 class="display-4">About me</h1>*@
    <p>@*Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.*@</p>
    <p>Good day, </p>
    @*<p>You are at website of Alexey Vasyukov, C# .Net programmer</p>*@
    <p>
        You are at the website of Alexey Vasyukov, C# and .Net programmer. You can learn about my finished projects
        @*<a href="">at My Projects menu</a>.*@
        <a asp-area="" asp-controller="Home" asp-action="Project">at My Projects menu.</a>
        Right now I am at the full-time job in the Datakrat corporation (Russian Federation) as a programmer. At my position, I'm daily in constant developing process of integration systems for our partners and companions. Program solutions I am continuously developing are used by colossal Russian retail chains "Monetka" (1500 stores) "Fasol" (1500 stores) "Kirovsky" (137 stores) and others. Also I've partly developed Self-serving POS for Datakrat.
        At my spare time I am continuously learning,
        developing my own projects and looking for interesting projects to be involved into. Feel free to contact me 
        <a href="mailto:VasyukovAlexey@yandex.ru">VasyukovAlexey@yandex.ru</a>
    </p>

</div>
<div class="container">
    <p class="h5">Here are the technologies I used to use</p>
    <div class="row">
        <div class="col-sm">
            Overall Technologies
            <ul class="list-group">
                <li class="list-group-item">Visual Studio 2012-2017</li>
                <li class="list-group-item">Postman</li>
                <li class="list-group-item">Fiddler</li>
                <li class="list-group-item">MS Office</li>
                <li class="list-group-item">Photoshop CS6</li>
                <li class="list-group-item">Sony Vegas 10</li>
                <li class="list-group-item">RestSharp 2018</li>
            </ul>
        </div>
        <div class="col-sm">
            .Net Framework technologies
            <ul class="list-group">
                <li class="list-group-item">C# language (v.5-7)</li>
                <li class="list-group-item">.Net Framework (v.4.0-4.7)</li>
                <li class="list-group-item">ASP NET.core MVC</li>
                <li class="list-group-item">EntityFramework</li>
                <li class="list-group-item">WPF</li>
                <li class="list-group-item">WCF</li>
                <li class="list-group-item">Linq to XML, SQL, Objects</li>
                <li class="list-group-item">DevExpress</li>
                <li class="list-group-item">WinForms</li>

            </ul>
        </div>
        <div class="col-sm">
            SQL
            <ul class="list-group">
                <li class="list-group-item">MS SQL server</li>
                <li class="list-group-item">SQLite</li>
                <li class="list-group-item">PostgreSQL</li>
                <li class="list-group-item">Firebird</li>
                
            </ul>
        </div>
    </div>
</div>

